name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  test-and-sast:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install bandit

      - name: Run tests
        run: pytest -q

      - name: Run SAST (Bandit)
        run: bandit -r app -q

    docker-build-push:
    needs: test-and-sast
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ayoubchaouachi10
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Compute tag
        id: vars
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ayoubchaouachi10/devops-fastapi-project:latest
            ayoubchaouachi10/devops-fastapi-project:${{ steps.vars.outputs.SHORT_SHA }}


